name: Test

on:
  push:
  pull_request:
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        # https://nodejs.org/en/about/releases/
        node:
          - '20'
          - '20.12.2'
          - '22'
          - '24'
      fail-fast: false

    name: Node.js ${{ matrix.node }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          # Enable this when setup-node v5 is released, and release is broken
          # package-manager-cache: false
      - name: Install Dependency
        run: npm ci
      - name: Build
        run: npm run build
      - name: Install pnpm  # For publint
        run: npm install -g pnpm
      - name: publint
        run: npx publint

  docker-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Build Docker image
        run: docker build .

  pinact:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@3d49c6412901042473ffa78becddab1aea46bbea # v1.3.1
        with:
          skip_push: "true"
